# Server Configuration
NODE_ENV=production
PORT=3000

# Stripe Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

# Domain Configuration
DOMAIN=https://sandybrown-vulture-771377.hostingersite.com
# Production domain (uncomment when moving to production)
# DOMAIN=https://bossibilities.com
